$border: #e7e7e7;

.wrapper {
    margin: 0 auto;
}

.shop {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;

    &__side__bar {
        border: 1px solid $border;
        height: 450px;
    }

    &__product {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid $border;
    }
}

.side__bar__search {
    &__title {
        margin: 40px 0px 15px 24px;
    }

    &__form {
        width: 300px;
        margin-left: 15px;
        margin-bottom: 22px;

        &__input {
            width: 251px;
            background-color: #f5f5f5;
            height: 39px;
            padding: 0 11px;
            color: #d8d0ca;
            font-size: 13px;
        }

        &__btn {
            background-color: #151414;
            color: #ebeaea;
            font-size: 12px;
            padding: 0;
            width: 44px;
            height: 39px;
            margin-left: 3px;
        }
    }
}

.side__bar__occasion {
    &__title {
        margin-left: 15px;
        margin-bottom: 16px;
    }

    &__list {
        margin-bottom: 20px;
        list-style: none;
    }

    &__item {
        margin-bottom: 12px;
        &__controll {
            cursor: pointer;
        }

        &__label {
            letter-spacing: 1px;
            font-size: 13px;
            margin-left: 3px;
            color: #000;
        }
    }
}

// END SIDE BAR

.shop__product__banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 14px;
    &__left,
    &__right {
        position: relative;

        img {
            width: 100%;
        }

        span {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            color: #fff;
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.shop__product__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
    margin: 0 14px;
}

.shop__product__item {
    border: 1px solid $border;
    position: relative;
    cursor: pointer;
    &__new {
        position: absolute;
        top: 14px;
        right: 14px;
        font-size: 13px;
        color: #fff;
        width: 80px;
        height: 29px;
        text-align: center;
        line-height: 2.3;
        z-index: 99;
    }

    &__thumb {
        position: relative;
        width: 324px;
        height: 324px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__thumb:hover &__view {
        top: 50%;
        opacity: 1;
        visibility: visible;
    }

    &__view {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 50%;
        height: 37px;
        line-height: 37px;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;

        a {
            font-size: 1.4rem;
            color: #fff !important;
            text-transform: uppercase;
        }
    }

    &__view:hover {
        background-color: #fb383b;
        transition: all 0.5s ease-in-out;
    }

    &__name {
        text-align: center;
        position: relative;
        &:hover{
            color: #fb383b !important;
        }
    }

    &__name::after {
        content: '';
        display: block;
        width: 80%;
        height: 1px;
        background-color: $border;
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__info {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    &__total {
        span {
            font-weight: 600;
        }
    }

    &__rate {
        list-style: none;
        padding-left: 0px;

        li {
            font-size: 0.6rem;
        }
    }

    &--add__cart {
        a {
            svg {
                color: #fff;
                font-size: 1.2rem;
                padding: 10px;
                background-color: #000;
            }
        }
    }
}
