.testimonial {
    padding: 80px 0px;
    background-color: #f3ead8;
    font-family: 'Jost', sans-serif !important;
    &-cap {
        font-size: 34px;
        font-weight: 500;
        color: #292621;
        margin-bottom: 40px;
    }
    &-content {
        line-height: 1.5;
        padding: 0 200px;
        margin-bottom: 32px;
        font-size: 22px;
        color: #292621;
        font-weight: 400;
    }
        &-btn {
            position: relative;
            &-prev {
                position: absolute;
                top: 55px;
                left: 15px;
                font-size: 61px;
                border: 0;
                padding: 0;
                z-index: 2;
                opacity: 0.4;
                background-color: transparent;
                &:hover {
                    color: #ff2020;
                    opacity: 1;
                }
            }
            &-next {
                position: absolute;
                top: 55px;
                right: 15px;
                font-size: 61px;
                border: 0;
                padding: 0;
                z-index: 2;
                opacity: 0.4;
                background-color: transparent;
                &:hover {
                    color: #ff2020;
                    opacity: 1;
                }
            }
        }
}
